*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.swp
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.refresh

# https://tex.stackexchange.com/a/55737/128111
# biber xml file
*.run.xml

# biblatex control file
*-blx.bib

